header {
    background-color: #000000; 
    color: white;
    padding: 20px;
    margin-bottom: 20px; 
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centers text for inline or inline-block elements */
}

.header-img{
    width: 70px;
}

h1 {
    margin: 0;
    font-size: 40px;
    color:  white;
}

p{
    font-size: 16px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 20px;
    padding: 20px;
}


.recipe-card {
    height: 350px;
    width: 320px;
    margin: 0px;
    padding: 20px;
    border: 1px solid   rgba(77, 73, 73, 0.704);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center content horizontally */
    position: relative;
}

.recipe-card:hover {
    transform: scale(1.05); /* Slight scale on hover */
}

.recipe-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto; 
}


.recipe-card-content {
    padding: 10px;
    margin: auto;
}

.recipe-card-title {
    font-size: 1.2em; /* Adjusted size */
    color: #DA291C; /* McDonald's red */
    margin-bottom: 10px;
}

.recipe-card-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.view-details-btn {
    background-color: #DA291C;
    color: white;
    padding: 0px;
    width: 45%;
    height: 10%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    font-weight: bold;
}

.view-details-btn:hover {
    background-color: rgb(255, 85, 0);
}