li{
    font-size: 22px;
    list-style-type:decimal;
    margin:2px;
}

ol{
    font-size: 22px;
    list-style-type:decimal;
    padding-left: 20px;
    margin: 0px;

}


h3{
    font-size: 25px;
}

.recipe-title{
    color: black;
    font-family: Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}
.recipe-layout {
    display: flex;
    align-items: start; /* Aligns items to the start of the container */
    gap: 20px; /* Adds space between image and content */
    margin: 40px;
    width: 1650px;
}

.recipe-image {
    width: 40%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.recipe-content {
    width: 50%; /* Adjust the width as needed */
}
.recipe-list{
    padding: 0;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin: 2px;
}

.button-link {
    margin-right: 10px; /* Adjust the margin to get the desired spacing */
    text-decoration: none; /* Removes underline from links */
}

.button-style {
    padding: 10px 20px; /* Add padding inside the button for size */
    border: none; /* Remove border */
    background-color: #dc3545; /* Bootstrap red color */
    color: white; /* Text color */
    cursor: pointer; /* Cursor to indicate it's clickable */
    outline: none; /* Remove focus outline */
    border-radius: 0.25rem; /* Slight rounding of corners to match bootstrap */
    font-size: 1rem; /* Text size */
}

/* Additional styles to apply on hover for visual feedback */
.button-style:hover {
    background-color: #c82333; /* A shade darker for hover state */
}

.add-btn {
    background-color: transparent;
    color: red;
    font-size: 22px; 
    text-align: center; 
    cursor: pointer; 
    border: 2px solid red;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    padding: 0px;
    margin: 2px 20px 2px 0px;
    line-height: 16px
}

.add-btn:hover {
    color: white;
    background-color: red;
    border-color: red;
}

/* Additional responsive adjustments if needed */
@media (max-width: 768px) {
    .recipe-layout {
        flex-direction: column;
    }

    .recipe-image, .recipe-content {
        width: 100%;
    }
}
