.contact header {
    background-color: #000000; 
    color: white;
    margin-bottom: 20px; 
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centers text for inline or inline-block elements */
    /* width: 1650px;
    height: 100px; */
    
}
.contact header-img{
    width: 70px;
}

.contact header h1 {
    margin: 0;
    font-size: 40px;
    color:  white;
}
  
  .contact h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    object-fit: cover;
  }
  
  .box h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
  }
  
  .box p:last-child {
    margin-bottom: 0;
  }
  